#include "..\..\..\winpcap_oem\version.h"
#include "..\..\common\WpcapNames.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION		WINPCAPOEM_MAJOR,WINPCAPOEM_MINOR,WINPCAPOEM_REV,WINPCAPOEM_BUILD
 PRODUCTVERSION		WINPCAPOEM_MAJOR,WINPCAPOEM_MINOR,WINPCAPOEM_REV,WINPCAPOEM_BUILD
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x3L
 FILESUBTYPE 0x7L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
 			VALUE "CompanyName",       WINPCAPOEM_COMPANY_NAME
#ifdef __NPF_NT4__
			VALUE "FileDescription",   "npf.sys (NT4) Kernel Driver"
#elif defined(_AMD64_)
			VALUE "FileDescription",   "npf.sys (NT5/6 AMD64) Kernel Driver"
#else
			VALUE "FileDescription",   "npf.sys (NT5/6 x86) Kernel Driver"
#endif
			VALUE "FileVersion",       WINPCAPOEM_VER_STRING
			VALUE "InternalName",      WINPCAPOEM_PRODUCT_NAME
			VALUE "LegalCopyright",    WINPCAPOEM_COPYRIGHT_STRING
			VALUE "LegalTrademarks",   ""
			VALUE "OriginalFilename",  "npf.sys"
			VALUE "ProductName",       WINPCAPOEM_PRODUCT_NAME " (" NPF_DRIVER_NAME ")"
			VALUE "ProductVersion",    WINPCAPOEM_VER_STRING
            VALUE "Build Description", WINPCAPOEM_BUILD_DESCRIPTION
            VALUE "PrivateBuild", 		WINPCAPOEM_PRIVATE_BUILD
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
